.timeline-item-icon {
  width: 1em;
  height: 1em;
}

.timeline-item {
  font-size: 1.1em;
  @extend .my-2;
  .icon {
    height: 1.3em;
    @extend .mr-2;
  }
}

.timeline-board {
  @extend .cru-card;
  @extend .d-flex;
  @extend .flex-column;
  @extend .p-3;
  min-height: 200px;
}
