.app-bar-body{
  display: flex;
}

.app-bar-body a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration-line: none; 
  margin: 0 10px;
  padding: 5px;
}


.fill-remaining-space {
  flex: 1 1 auto;
}

.no-display {
  display: none;
}
