body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus {
  outline: none;
}

.cru-button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  padding: 4px 8px;
  border: none;
  transition: all 0.33s
}

.cru-button.dangerous {
  background: #ff0000;
  color: white;
}

.cru-button.dangerous:hover {
  background: #ff5436;
}

.cru-button.dangerous:active {
  background: #ffa28a;
}

.cru-button.normal {
  background: #00a9c8;
  color: white;
}

.cru-button.normal:hover {
  background: #00cff9;
}

.cru-button.normal:active {
  background: #00dfff;
}

.cru-button.create {
  background: #3f9060;
  color: white;
}

.cru-button.create:hover {
  background: #4eb178;
}

.cru-button.create:active {
  background: #82c99f;
}

.cru-button:focus {
  box-shadow: 0 0 1px 2.5px #f1b606;
  outline: none;
}
