@import '~bootstrap/scss/bootstrap';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import './home/home.scss';
@import './timeline/timeline.scss';

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
}

.width-1px {
  width: 1px;
}

.flex-fix-length {
  flex-grow: 0;
  flex-shrink: 0;
}

.position-rb {
  right: 0;
  bottom: 0;
}

.avatar {
  width: 60px;
}

.avatar.large {
  width: 100px;
}

.mt-appbar {
  margin-top: 56px;
}

textarea {
  resize: none;
}
