@import '~bootstrap/scss/bootstrap';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import './home/home.scss';

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
}

.appbar {
  background: #009de8;
}
