.nav-user-popup-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.nav-user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
}

.app-bar-body{
  display: flex;
  height: 56px;
  align-items: center;
}

.nav-logo {
  height: 30px;
}